.message > * {
  user-select: none;
}
.message--active {
  width: 50%;
  height: 60%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1rem;
  border: 8px solid #ddd;
  background-color: rgba(0, 0, 0, 0.85);

  z-index: 1;
  animation: appear 3s 0.5s both ease-in-out;
}

.message--active > * {
  font: italic small-caps bold 20px/1.4 cursive;
  color: white;
  animation: appear-elements 1.5s 3.5s both ease-in-out;
}
.info {
  font-size: 2.5rem;
  color: #c73b36;
}
.message--active div.score,
.message--active span.score {
  font-size: 2rem;
}
.message--active div.score {
  display: flex;

  align-items: center;
  justify-content: center;
}
.message--active div.score span {
  width: fit-content;
}
.message--active button {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  cursor: pointer;
}
.message--active .name {
  width: 80%;
  color: black;
  padding: 0.5rem 1rem;
}
.title {
  display: none;
}

.records {
  font-size: 1rem;
  width: 70%;
  display: flex;
}
.record {
  width: 100%;
}
.record span {
  display: block;
  float: left;
}
.record span:nth-child(1),
.record span:nth-child(2) {
  width: 50px;
}
.record span:nth-child(3) {
  float: right;
}
.message--active hr {
  display: none;
  width: 80%;
  margin: calc(2%);
}
.shadow--active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30vh;
  height: 2vh;
  background-color: #262626;
  opacity: 0.9;
  border-radius: 50%;
  transform: translateY(300px);
  box-shadow: 0 0 10px 3px #262626;
  animation: shadow 3s 0.5s both ease-in-out;
}
.name.name--saved {
  border: 2px solid #36c74a;
  color: #36c74a;
}
.name.name--error {
  border: 2px solid #c73b36;
}

@keyframes appear-elements {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadow {
  0% {
    opacity: 0;
    width: 8vh;
    height: 1vh;

    transform: translateY(calc(200px + 4vh));
  }
  15% {
    opacity: 0.7;
    width: 6vh;
  }
  30% {
    opacity: 0.9;
    width: 8vh;
  }
  45% {
    opacity: 0.7;
    width: 6vh;
  }
  60% {
    opacity: 0.9;
    width: 8vh;
  }
  75% {
    opacity: 0.7;
    width: 6vh;
  }

  90% {
    opacity: 0.7;
    width: 6vh;

    height: 1vh;
    border-radius: 50%;
    transform: translateY(calc(200px + 4vh));
  }

  100% {
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    transform: translateY(500px);
  }
  15% {
    opacity: 1;
    height: 10vh;
    transform: translateY(-200px);
  }
  30% {
    height: 8vh;
    transform: translateY(200px);
  }
  45% {
    height: 10vh;
    transform: translateY(-180px);
  }
  60% {
    height: 8vh;
    transform: translateY(200px);
  }
  75% {
    height: 10vh;
    transform: translateY(-160px);
  }
  90% {
    transform: translateY(0);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
  }
  100% {
  }
}
