* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#canvas {
  display: block;
  background-color: #829fd9;
}
nav {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  top: 10%;
  left: 0%;
  width: 100%;
  user-select: none;
}
nav button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font: italic small-caps bold 20px/1.4 cursive;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.3s;
  color: aliceblue;
  background-color: rgba(100, 100, 100, 0.7);
  border: 2px solid #ddd;
}
button svg {
  display: block;
  margin-right: 1rem;
}
.result {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  visibility: hidden;
}
div.lvl,
div.score {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lvl,
.score {
  font: italic small-caps bold 20px/1.4 cursive;
}
button:hover,
.button--active {
  background-color: rgba(255, 255, 255, 0.3);
}
.message > * {
  user-select: none;
}
.message--active {
  width: 50%;
  max-height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1rem;
  border: 8px solid #ddd;
  background-color: rgba(0, 0, 0, 0.85);

  z-index: 1;
  animation: appear 3s 0.5s both ease-in-out;
}

.message--active > * {
  font: italic small-caps bold 20px/1.4 cursive;
  color: white;
  animation: appear-elements 1.5s 3.5s both ease-in-out;
  user-select: none;
}
.info {
  font-size: 2.5rem;
  color: #c73b36;
}
.message--active div.score,
.message--active span.score {
  font-size: 2rem;
}
.message--active button {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  cursor: pointer;
  user-select: none;
}
.message--active .name {
  width: 80%;
  color: black;
  padding: 0.5rem 1rem;
  user-select: none;
}
.title {
  display: none;
}
button.save,
button.exit {
}
.records {
  font-size: 1rem;
  width: 60%;
  display: flex;
}
.record {
  width: 100%;
}
.record span {
  display: block;
  float: left;
  width: 33%;
}
.message--active hr {
  display: none;
  width: 80%;
  margin: calc(2%);
}
.shadow--active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30vh;
  height: 2vh;
  background-color: #262626;
  opacity: 0.9;
  border-radius: 50%;

  transform: translateY(300px);
  box-shadow: 0 0 10px 3px #262626;
  animation: shadow 3s 0.5s both ease-in-out;
}
@keyframes appear-elements {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadow {
  0% {
    opacity: 0;
    width: 8vh;
    height: 1vh;

    transform: translateY(calc(200px + 4vh));
  }
  15% {
    opacity: 0.7;
    width: 6vh;
  }
  30% {
    opacity: 0.9;
    width: 8vh;
  }
  45% {
    opacity: 0.7;
    width: 6vh;
  }
  60% {
    opacity: 0.9;
    width: 8vh;
  }
  75% {
    opacity: 0.7;
    width: 6vh;
  }

  90% {
    opacity: 0.7;
    width: 6vh;

    height: 1vh;
    border-radius: 50%;
    transform: translateY(calc(200px + 4vh));
  }

  100% {
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    transform: translateY(500px);
  }
  15% {
    opacity: 1;
    height: 10vh;
    transform: translateY(-200px);
  }
  30% {
    height: 8vh;
    transform: translateY(200px);
  }
  45% {
    height: 10vh;
    transform: translateY(-180px);
  }
  60% {
    height: 8vh;
    transform: translateY(200px);
  }
  75% {
    height: 10vh;
    transform: translateY(-160px);
  }
  90% {
    transform: translateY(0);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
  }
  100% {
  }
}
.name.name--saved {
  border: 2px solid #36c74a;
  color: #36c74a;
}
.name.name--error {
  border: 2px solid #c73b36;
}
